#backg{
    background-color: #3b5998;
}

#findbox{
    margin: auto;
    width: 700px;
    height: 300px;
    background-color: #EEEFF1;
    border-radius: 5px;
    text-align: center;
    padding: 70px;
            

}

.find{
    width: 50%;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

#find_btn{
    background-color: hsl(24, 81%, 51%);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    width: 25%;
   
    
}